@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Elite IT</strong> <br />
    Edison Park 4<br />
    6715 Esbjerg N<br />
    +45 8816 8810<br />
    <a href="mailto:info@eliteit.dk">info@eliteit.dk</a><br />
</address>
