<body>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://www.visiondata.dk/images/artikler/Dynamics_NAV_logo.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Relevant Information</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://www.visiondata.dk/images/artikler/Dynamics_NAV_logo.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Relevant Information</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://www.visiondata.dk/images/artikler/Dynamics_NAV_logo.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Relevant Information</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://www.visiondata.dk/images/artikler/Dynamics_NAV_logo.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Relevant Information</span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tema</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:lawngreen">
                        <td>Bilskader</td>
                        <td>Noget</td>
                        <td>Noget</td>
                        <td>Noget</td>
                    </tr>
                    <tr style="background-color:yellow">
                        <td>Personskader</td>
                        <td>Noget</td>
                        <td>Noget</td>
                        <td>Noget</td>
                    </tr>
                    <tr style="background-color:red">
                        <td>Brandskader</td>
                        <td>Noget</td>
                        <td>Noget</td>
                        <td>Noget</td>
                    </tr>
                    <tr style="background-color:red">
                        <td>Tyveri</td>
                        <td>Noget</td>
                        <td>Noget</td>
                        <td>Noget</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>