@model WebUI.Models.EmailAccount

@{
    ViewBag.Title = "Delete";
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Slet Konto</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">

        <div>
            <table class="table table-bordered table-stibed dataTable">
                <thead>
                </thead>
                <tbody>
                    <tr role="row">
                        <td>
                            Vil du slette denne konto
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmailAddress)
                        </td>
                    </tr>
                </tbody>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    <input type="submit" value="Slet" class="btn btn-warning pull-right" />
                    <a href="@Url.Action("Index", "EmailAccount")" class="btn btn-adn pull-left">Fortryd</a>
                </div>
            }
            </p>
        </div>
    </div>
</div>